:root {
  --primary-color: rgb(36, 150, 226);

  --card-border-radius: 10px;

  --tic-tac-toe-border-color: 2px solid black;
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* :not(dialog) {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

body {
  min-height: 100vh;
  background: #eee;
}

html {
  font-family: var(--dawntreader-header);
  /* font-size: 1.125rem; */
}

/* responsive images/videos */
img:not(.dashboard-icon),
picture,
/* svg, */
video {
  display: block;
  max-width: 100%;
}

button,
select,
input {
  font-size: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

p,
a,
button {
  font-family: 'Exo', Arial, Helvetica, sans-serif;
}

/*  
   ========================================================================= 
   =                             TIC TAC TOE                               =   
   =========================================================================  
   */

.tic-tac-toe-container {
  max-width: 720px;
  margin-inline: auto;
  padding: 0 20px;
}

.tic-tac-toe-grid {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
  justify-items: center;
  margin-top: 5vh;
  border: var(--tic-tac-toe-border-color);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border: var(--tic-tac-toe-border-color);
}

.tic-tac-toe-game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  & button {
    min-width: 150px;
    padding: 5px;
  }
}
